*{
  max-width: 430px;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "publicreg";
  src: url(../assets/PublicSans-Regular.ttf);
}

@font-face {
  font-family: "publicbold";
  src: url(../assets/PublicSans-Bold.ttf);
}

@font-face {
  font-family: "publicmed";
  src: url(../assets/PublicSans-Medium.ttf);
}


header {
  background-color: #000;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  justify-content: space-between;

  nav {
    background-color: #000;
  }
  .navbar {
  width: 100%;
  padding: 0.5rem;
  align-items: center;
  background-color: #000;
  }
  .navbar-brand {
    img {
      height: 5vh;
      display: flex;
      align-self: center;
      justify-content: flex-start;
      margin: auto;
    }
  }
  .navbar-collapse {
    background-color: #000;
    text-align: center;
  }
  .navbar .nav-link {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    color: #fff !important;
    font-family: "publicmed";
  }
  .navbar-nav li {
    list-style: none;
  }
}


main {
  margin: 1vw;
  img {
    width: 100%;
    height: auto;
  }

  #fraseinicio {
    justify-content: center;
    font-family: "publicreg";
    color: #9d9d9d;
    margin: 2rem;
    text-align: center;
  }

  .titulos {
    height: 8vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    h2 {
      font-family: "publicbold";
      font-size: 3.5vh;
      color: #fff;
      margin: auto;
    }
  }

  #especialidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3vh;
    column-gap: 1vw;
    article {
      width: 90%;
      height: 30vh;
      border: solid 0.5px;
      border-color: #9d9d9d;
      border-radius: 15px;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1019607843);
      display: grid;
      grid-template-rows: 2fr 1r 1fr;
    }

    .especialidad {
      font-family: "publicbold";
      grid-row: 2/3;
    }
    .description {
      font-family: "publicreg";
      grid-row: 3/4;
    } 
  }

  iframe {
    width: 90%;
    height: 40vh;
    justify-items: center;
    margin: 1.5rem;
  }

  .contacto {
    display: flex;
    font-family: "publicreg";
    font-size: 2vh;
    color: #9d9d9d;
    justify-content: center;
  }

  .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }

  .whatsapp-float svg {
    width: 55px;
  }

}

footer {
  background-color: #000;
  height: auto;
  img {
    height: 4vh;
    margin-top: 2vh;
    margin-left: 2vw;
  }
  .sitemap {
    margin-top: 4vh;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      li {
        list-style: none;
        padding: 1vh;
        a {
          text-decoration: none;
          font-family: "publicreg";
          color: #9d9d9d;
          font-size: 2vh;
        }
        #pageinicio {
          grid-column: 1/2;
        }
        #pagenosotros {
          grid-column: 1/2;
        }
        #pagecontacto {
          grid-column: 2/3;
        }
        #pagepreguntas {
            grid-column: 2/3;
        }
      }
    }
  }

  .footersecundario {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .footerdatoscontacto {
    display: flex;
    font-family: "publicreg";
    font-size: 2vh;
    color: #9d9d9d;
    padding: 0.2rem;
    margin-left: 5vw;
  }

  .copy {
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
    font-family: "publicreg";
    color: #393939;
    font-size: 1.5vh;
  }
}

/*main paginas secundarias*/
.pretitulo {
  font-family: "publicbold";
  color: #4455a0;
  font-size: 1.8vh;
  margin-top: 4vh;
}

.titulo {
  font-family: "publicbold";
  color: #000;
  font-size: 4.5vh;
}

.historia {
  font-family: "publicmed";
  color: #000;
  font-size: 2.5vh;
  margin: 4vh 0;
}

.linea {
  width: 15vw;
  height: 3px;
  background-color: #4455a0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.equipo {
  font-family: "publicbold";
  color: #000;
  font-size: 3.5vh;
  margin-bottom: 5vh;
}

.profesionales {
  width: 90%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1019607843);
  justify-self: center;
}

.nombre {
  font-family: "publicbold";
  color: #4455a0;
  font-size: 2.5vh;
  margin: 0 1vh;
}

.cargo {
  font-family: "publicmed";
  color: #9d9d9d;
  font-size: 2vh;
  margin-left: 1vh;
}

.descripcion {
  font-family: "publicreg";
  color: #000;
  font-size: 2vh;
  margin: 1vh;
  padding-bottom: 2vh;
}

/*main pagina contacto*/
.form-label {
  font-family: "publicmed";
  font-size: 2vh;
  color: #393939;
}

.boton {
  display: flex;
  justify-self: center;
  width: 95%;
  height: auto;
  border-radius: 5px;
  background-color: #4455a0;
  font-family: "publicmed";
  font-size: 2vh;
  color: #fff;
  padding: 1vh;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.contactate {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1019607843);
  background-color: #f5f2f2c0;
  margin: 10vw 1vh;
}

.datoscontacto {
  display: flex;
  font-family: "publicreg";
  color: #000;
  padding: 0.5rem;
  margin-top: 2vw;
  margin-left: 2vw;
}

.textocontacto {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}

/*main preguntas frecuentes*/
.titulopreguntas {
  font-family: "publicbold";
  color: #000;
  font-size: 4.5vh;
  margin-top: 5vh;
}

.textopreguntas {
  font-family: "publicreg";
  font-size: 2vh;
  color: #9d9d9d;
}

.accordion {
  max-width: 700px;
  margin: auto;
}

.accordion-button {
  font-weight: 600;
}

.accordion-button:not(.collapsed) {
  background-color: #f8f9fa;
  font-family: "publicreg";
  font-size: 2vh;
  color: #4455a0;
}

.accordion-item {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
}

.contactodudas {
  border-radius: 15px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1019607843);
  background-color: #f5f2f2c0;
  margin: 10vw 1vh;
  p {
    padding: 2vh;
    justify-self: center;
    font-family: "publicbold";
    font-size: 2.5vh;
  }
}
